.kniha-link{
    text-decoration: none;
    color: white;
}

.kniha-text{
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
}

.kniha-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.autor-link{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

.autor-text{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #b13d3d;
    transition: background-color 300ms, text-underline 500ms;
}

.autor-text:hover{
    cursor: pointer;
    background-color: #c55151;
}